html, body{
  height: 100vh;
  background-color: #ebeceb;
  margin: 0;
}

.searchcontainer{
  background-color: #ebeceb;
}

.searchlogo img{
  display: flex;
  align-items: center;
  width: 80px;
}

.topbar {
    background-color: #ebeceb;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  .searchcontainer{
    display: flex;
    flex-direction: column;
    height: 87%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
  }*/

  .searchform{
    display: flex;
    align-items: center;
    
    
  }

  .footer {
    background-color: #ebeceb;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  .footer-links{
    display: inline-flex;
    list-style: none;
    gap: 10px;
    justify-content: flex-end;
  }

  footer .footer-links{
    display: flex;
    justify-content: space-between;
  }