@font-face {
  font-family: Geist;
  src: url(../fonts/Geist.woff2) format('woff2'),
       url(../fonts/Geist.woff) format('woff'),
       url(../fonts/Geist.ttf) format('truetype');
}


html, body{
  height: 100vh;
  background-color: #ebeceb;
  margin: 0;
}

a{
  color: #1e2a28ba;
  font-size: 18px;
  font-family: Geist, sans-serif;
  text-decoration: none;
}

p{
  font: Geist, sans-serif;
}

.homelogo{
  height: 30px;
}

.searchcontainer{
  background-color: #ebeceb;
}

.searchlogo img{
  display: flex;
  align-items: center;
  width: 150px;
}

.topbar {
    background-color: #ebeceb;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 5px 0;
  }

  .searchcontainer{
    display: flex;
    flex-direction: column;
    height: 87%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
  }

  .searchform{
    display: flex;
    align-items: center;   
  }

  .footer {
    background-color: #ebeceb;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  .footer-links{
    display: inline-flex;
    list-style: none;
    gap: 10px;
    justify-content: flex-end;
  }

  footer .footer-links{
    display: flex;
    justify-content: space-between;
  }